<form action="/places" method="post">
  <label for="cityName">City Name</label>
  <input id="cityName" name="cityName" type="text">
  <label for="notes">Notes about your visit</label>
  <input id="notes" name="notes" type="text">
  <label for="dateVisited">Enter the date visited</label>
  <input id="dateVisited" name="dateVisited" type="text">
  <label for="travelCompanion">Who did you travel with?</label>
  <input id="travelCompanion" name="travelCompanion" type="text">
  <button type="submit">Submit</button>
</form>